@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Zeit für Sport</h1>
</div>*@
<div>
    <h3>Deine Trainings</h3>
    <div class="container">
        <div class="row">
            @{
                int i = 1;
            }
            @foreach (TrainingsRegistration t in ViewBag.MyTrainings)
            {
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header text-center">
                            Training
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@t.Training.Sport.Name</h5>
                            <p class="card-text">@t.Training.Gym.Name</p>
                            <p class="card-text">@t.Training.StartTime</p>

                            <a href="/TrainingsRegistrations/Delete/@t.Id" class="btn btn-danger">Abmelden</a>
                        </div>
                        <div class="card-footer text-muted text-center">
                            <p>Reserviert</p>
                        </div>
                    </div>
                </div>
                @if (i % 3 == 0)
                {
                    <div class="w-100"></div>
                }

                i++;

            }
        </div>
    </div>


    <h3>Offene Trainings</h3>
    <div class="container">
        <div class="row">
            @{
                int ii = 1;
            }
            @foreach (var t in ViewBag.Trainings)
            {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header text-center">
                        Training
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@t.Key.Sport.Name</h5>
                        <p class="card-text">@t.Key.StartTime</p>
                        
                        <a href="/TrainingsRegistrations/Create/?tid=@t.Key.Id" class="btn @(t.Value>=1?"btn-primary":"btn-secondary disabled")" @(t.Value < 1 ? "aria-disabled=true":"") >Anmelden</a>
                    </div>
                    <div class="card-footer text-muted text-center @(t.Value<=5?"alert-danger":"alert-success")">
                        <p>Noch @t.Value Plätze frei.</p>
                    </div>
                </div>
            </div>
                @if (ii % 3 == 0)
                {
                    <div class="w-100"></div>
                }

                ii++;

            }
        </div>
    </div>


    <p>@ViewBag.User</p>
    @*<p>@ViewBag.Role</p>*@
</div>
