@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Zeit für Sport</h1>
</div>*@
<div>
    @if(ViewBag.Messages != null)
    {
        foreach(Message message in ViewBag.Messages)
        {
            <div class="jumbotron">
                <h4>@message.Title</h4>
                <p class="lead">@message.Body</p>
            </div>
        }
    }

    <h4>Deine Trainings</h4>
    <div class="container-lg">
        @*<div class="row">
            @{
                int i = 1;
            }
            @foreach (TrainingsRegistration t in ViewBag.MyTrainings)
            {
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header text-center">
                            Training
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@t.Training.Sport.Name</h5>
                            <p class="card-text">@t.Training.Gym.Name</p>
                            <p class="card-text">@t.Training.StartTime</p>

                            <a href="/TrainingsRegistrations/Delete/@t.Id" class="btn btn-danger">Abmelden</a>
                        </div>
                        <div class="card-footer text-muted text-center">
                            <p>Reserviert</p>
                        </div>
                    </div>
                </div>
                @if (i % 3 == 0)
                {
                    <div class="w-100"></div>
                }

                i++;

            }
        </div>*@
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Sportart
                    </th>
                    <th>
                        Event
                    </th>
                    <th>
                        Ort
                    </th>
                    <th>
                        Datum
                    </th>
                    <th>
                        Zeit
                    </th>
                    <th>
                        Anmeldestatus
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (TrainingsRegistration t in ViewBag.MyTrainings)*@
                @{List<TrainingsRegistration> myTrainings = (List<TrainingsRegistration>)ViewBag.MyTrainings;}
                            @foreach (var t in ViewBag.Trainings)
                            {
                                bool isRegistered = myTrainings.Where(m => m.Training == (Training)t.Key).Count() != 0;
                                bool isFull = t.Value == 0;
                                bool isNearlyFull = ((int)t.Value) < 4;
                                string myClass = "";
                                if(isRegistered)
                                {
                                    myClass = "table-success";
                                }
                                else
                                {
                                    if(isFull)
                                    {
                                        myClass = "table-secondary";
                                    }
                                    else
                                    {
                                        if(isNearlyFull)
                                        myClass = "table-warning";
                                    }
                                }

                <tr class="@myClass">
                    <td>
                        @t.Key.Sport.Name
                    </td>
                    <td>
                        @t.Key.Name
                    </td>
                    <td>
                        @t.Key.Gym.Name
                    </td>
                    <td>
                        @t.Key.StartTime.ToString("D")
                    </td>
                    <td>
                        @t.Key.StartTime.ToShortTimeString() - @t.Key.EndTime.ToShortTimeString()
                    </td>
                    <td>
                        @((int)t.Key.Capacity-t.Value) / @t.Key.Capacity
                    </td>

                    @if (!isRegistered)
                    {
                        <td>
                            <a href="/TrainingsRegistrations/Create/?tid=@t.Key.Id" class="btn btn-sm @(t.Value>=1?"btn-primary":"btn-secondary disabled")" @(t.Value < 1 ? "aria-disabled=true" : "")>Teilnehmen</a>
                        </td>
                    }
                    else
                    {
                        var tReg = myTrainings.Where(m => m.Training == (Training)t.Key).FirstOrDefault();
                        <td>
                            <a href="/TrainingsRegistrations/Delete/@tReg.Id" class="btn btn-sm btn-danger">Abmelden</a>
                        </td>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin") || User.IsInRole("Trainer"))

                        {
                <td>
                    @if ((int)t.Key.Capacity - t.Value != 0)
                    {
                        <a href="/TrainingsRegistrations/TrainerView/?tid=@t.Key.Id">Anmeldungen</a>
                        <br/>
                    }
                    <a class="text-warning" href="/Trainings/Delete/@t.Key.Id">Absagen</a>
                </td>
                        }
                    }
                        </tr>
                             }
            </tbody>
        </table>

    </div>
    @*<hr class="border-primary"/>*@


    @*<h4>Offene Trainings</h4>
    <div class="container">
        <div class="row">
            @{
                int ii = 1;
            }
            @foreach (var t in ViewBag.Trainings)
            {
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header text-center">
                            Training
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@t.Key.Sport.Name</h5>
                            <p class="card-text">@t.Key.Gym.Name</p>
                            <p class="card-text">@t.Key.StartTime</p>

                            <a href="/TrainingsRegistrations/Create/?tid=@t.Key.Id" class="btn @(t.Value>=1?"btn-primary":"btn-secondary disabled")" @(t.Value < 1 ? "aria-disabled=true" : "")>Anmelden</a>
                        </div>
                        <div class="card-footer text-muted text-center @(t.Value<=5?"alert-danger":"alert-success")">
                            <p>Noch @t.Value Plätze frei.</p>
                        </div>
                    </div>
                </div>
                @if (ii % 3 == 0)
                {
                    <div class="w-100"></div>
                }

                ii++;

            }
        </div>

        
    </div>*@


    @*<p>@ViewBag.User</p>*@
    @*<p>@ViewBag.Role</p>*@
</div>
