@model IEnumerable<TrainingCapacityManagement.Models.Training>

@{
    ViewData["Title"] = "Trainingsübersicht";
}

<h1>Trainingsübersicht</h1>

<p>
    <a asp-action="Create">Training erstellen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sport.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gym.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sport.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gym.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @*<a asp-controller="TrainingsRegistrations" asp-action="TrainerView" asp- asp-route-id="@item.Id">Anmeldungen anzeigen</a>*@
                @if(User.IsInRole("Trainer") || User.IsInRole("Admin"))
                { 
                <a href="/TrainingsRegistrations/TrainerView/?tid=@item.Id">Anmeldungen anzeigen</a>
                }
                |<a asp-action="Delete" asp-route-id="@item.Id"> Training Absagen</a>
            </td>
        </tr>
        }
    </tbody>
</table>
